VITE_URL_MAIN=https://datagateapp.com
VITE_URL_DASH=https://dash.datagateapp.com
VITE_URL_API=https://api.datagateapp.com
VITE_URL_TELEGRAM=https://tg.datagateapp.com
VITE_URL_STATUS=https://status.datagateapp.com
VITE_URL_WAZUH=https://monitor.datagateapp.com
VITE_URL_GRAFANA=https://metrics.datagateapp.com
